<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dreambreeze.server.mapper.AdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dreambreeze.server.domain.Ad">
        <id column="ad_id" property="adId" />
        <result column="position" property="position" />
        <result column="media_type" property="mediaType" />
        <result column="ad_name" property="adName" />
        <result column="ad_link" property="adLink" />
        <result column="ad_code" property="adCode" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="click_count" property="clickCount" />
        <result column="enabled" property="enabled" />
        <result column="create_by" property="createBy" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ad_id, position, media_type, ad_name, ad_link, ad_code, start_time, end_time, name, email, phone, click_count, enabled, create_by, create_at, update_at, delete_at
    </sql>

</mapper>
