<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dreambreeze.server.mapper.LikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dreambreeze.server.domain.Like">
        <id column="like_id" property="likeId" />
        <result column="article_id" property="articleId" />
        <result column="code_id" property="codeId" />
        <result column="photo_id" property="photoId" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="create_by" property="createBy" />
        <result column="create_at" property="createAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        like_id, article_id, code_id, photo_id, user_id, type, create_by, create_at, delete_at
    </sql>

</mapper>
