<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dreambreeze.server.mapper.LinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dreambreeze.server.domain.Link">
        <id column="link_id" property="linkId" />
        <result column="link_name" property="linkName" />
        <result column="link_url" property="linkUrl" />
        <result column="cover_img" property="coverImg" />
        <result column="author_name" property="authorName" />
        <result column="show_order" property="showOrder" />
        <result column="create_by" property="createBy" />
        <result column="create_name" property="createName" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        link_id, link_name, link_url, cover_img, author_name, show_order, create_by, create_name, create_at, update_at, delete_at
    </sql>

</mapper>
