<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dreambreeze.server.mapper.PowerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dreambreeze.server.domain.Power">
        <id column="power_id" property="powerId" />
        <result column="power_key" property="powerKey" />
        <result column="power_content" property="powerContent" />
        <result column="create_by" property="createBy" />
        <result column="create_name" property="createName" />
        <result column="create_at" property="createAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        power_id, power_key, power_content, create_by, create_name, create_at, delete_at
    </sql>

</mapper>
