<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dreambreeze.server.mapper.SecretMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dreambreeze.server.domain.SecretMessage">
        <id column="secret_id" property="secretId" />
        <result column="receive_id" property="receiveId" />
        <result column="message_topic" property="messageTopic" />
        <result column="message_content" property="messageContent" />
        <result column="create_by" property="createBy" />
        <result column="create_name" property="createName" />
        <result column="create_at" property="createAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        secret_id, receive_id, message_topic, message_content, create_by, create_name, create_at, delete_at
    </sql>

</mapper>
