<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dreambreeze.server.mapper.UserCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.dreambreeze.server.domain.UserComment">
        <id column="comment_id" property="commentId" />
        <result column="commit_content" property="commitContent" />
        <result column="commit_time" property="commitTime" />
        <result column="commit_ip" property="commitIp" />
        <result column="entity_id" property="entityId" />
        <result column="create_by" property="createBy" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, commit_content, commit_time, commit_ip, entity_id, create_by, create_at, update_at, delete_at
    </sql>

</mapper>
